[data-success] {
    margin-bottom: 10px;
}

.docs__item-heading {
    margin-bottom: 10px;
}

.pdf-wrapper img {
    width: 100%;
}

.pdf-wrapper img {
    width: 50%;
}

.pdf-wrapper .formated.tab-sizes img {
    width: 100%;
    padding-top: 40px;
}